/* taking off all the automatic margins on the page */
*
{
  margin: 0;
}

/* variables */
:root
{
  --something: #A2E3A1;
}

body
{
  overflow-y: scroll;
}

/* top bar menu */
.top-bar
{
  z-index: 2;
  position: fixed;
  display: flex;
  height: 145px;
  width: 100%;
  background: green;

  /* left side of the top bar */
  .left
  {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;

    /* our company logo */
    img
    {
      background: black;
      height: 75px;
      width: 125px;
      margin-right: 20px;
    }
    /* top bar options */
    h1
    {
      margin: 20px;
    }
  }

  /* right side of the top bar */
  .right
  {
    padding: 50px;
    div
    {
      display: flex;
      h2
      {
        margin: 10px;
      }
    }
    /* search bar */
    input
    {
      font-size: 20px;
      width: 750px;
      padding: 8px 10px;
      border-radius: 100px;
    }
    i
    {
      position: fixed;
      font-size: 30px;
      top: 76px;
      padding: 5px 14px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      border-left: 1px solid black;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
  }
}

.main
{
  position: absolute;
  background: gray;
  height: 100%;
  width: 100%;
  transform: translateY(145px);
}

body{
	background: #ddb5b5;
}
.cart{
	margin: 20px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}