/* taking off all the automatic margins on the page */
*
{
  margin: 0;
}

/* variables */
:root
{
  --ogs-green: #43A047;
}

body
{
  overflow-y: scroll;
  overflow-x: hidden;
}

/* special offer on the top of the front page */
.offer-bar
{
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* top bar menu */
.top-bar-1
{
  z-index: 1;
  position: fixed;
  margin-top: 50px;
  height: 100px;
  width: 100%;
  background: var(--ogs-green);
  display: flex;
  align-items: center;
  
}
.top-bar-1 img
{
  margin: 10px;
  height: 75px;
  width: 125px;
  background: black;
  left: 0px;
}
.top-bar-1 .title
{
  position: relative;
  margin: auto;
  transform: translateX(100%);
}
.top-bar-1 .right
{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 450px;
}

.search-bar input
{
  border-radius: 100px;
  padding: 10px;
  width: 250px;
  height: 24px;
  font-size: 14px;
}
.search-bar #search-button
{
  position: fixed;
  border-left: 1px solid black;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transform: translate(-46px, 2px);
  background: white;
}

.right i
{
  font-size: 24px;
  padding: 10px;
}


.top-bar-2
{
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  margin-top: 150px;
  height: 50px;
  width: 100%;
  background: gray;
}
.top-bar-2 h2
{
  padding: 10px;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.main
{
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  transform: translateY(194px);
}
.main img
{
  width: 100%;
  border: 1px solid black;
}